.questions {
    .top {
        h1 {
            font-size: 52px;
            font-weight: 600;
            line-height: 55px;
            margin-bottom: 30px;
            @include respond-to(xs) {
                font-size: 30px;
                line-height: 35px;
            }
        }

        .top_content {
            display: flex;
            gap: 20px;
            @include respond-to(md) {
                display: block;
            }

            .left {
                .accordion {
                    margin: 10px 0;
                    position: relative;
                    width: 793px;
                    height: 80px;
                    @include respond-to(xl) {
                        width: 710px;
                    }
                    @include respond-to(lg) {
                        width: 610px;
                    }
                    @include respond-to(md) {
                        width: 695px;
                    }
                    @include respond-to(sm) {
                        width: 515px;
                    }
                    @include respond-to(xs) {
                        width: 290px;
                        height: 70px;
                    }

                    .accordion_item {
                        margin-bottom: 10px;
                        box-shadow: 0 0 7.3px 0 #B4CCDD80;
                        border-radius: 10px;

                        input[type="checkbox"] {
                            display: none;
                        }

                        label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 25px 30px;
                            background: #ffffff;
                            color: $black;
                            cursor: pointer;
                            position: relative;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            transition: 0.2s;
                            @include respond-to(lg) {
                                font-size: 19px;
                            }
                            @include respond-to(sm) {
                                font-size: 16px;
                            }
                            @include respond-to(xs) {
                                font-size: 15px;
                                line-height: 20px;
                            }

                            &:hover {
                                color: $blue;
                            }

                            &::after {
                                content: '+';
                                display: inline-block;
                                font-size: 44px;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                                color: $blue;
                                transition: transform 0.3s ease, content 0.3s ease;
                                @include respond-to(xs) {
                                    font-size: 34px;
                                }

                            }
                        }

                        input[type="checkbox"]:checked + label::after {
                            content: '-';
                            transform: rotate(180deg);
                        }

                        .content {
                            overflow: hidden;
                            max-height: 0;
                            transition: max-height 0.5s ease, padding 0.3s ease;
                            background: #ffffff;
                            box-shadow: 0px 0px 7.3px 0px #B4CCDD80;
                            padding: 0 30px;

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 25px;
                                color: #383838BF;
                                @include respond-to(xs) {
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }

                        input[type="checkbox"]:checked + label + .content {
                            max-height: 500px;
                            padding: 10px 30px;
                        }
                    }

                }
            }

            .right {
                @include respond-to(md) {
                    margin-top: 400px;
                }
                @include respond-to(xs) {
                    margin-top: 455px;
                }

                form {
                    margin-top: 10px;
                    width: 387px;
                    height: 440px;
                    border-radius: 10px;
                    background-color: $white-blue;
                    padding: 30px;
                    @include respond-to(lg) {
                        width: 307px;
                        height: 460px;
                    }
                    @include respond-to(md) {
                        width: 700px;
                        padding: 30px 0 0 140px;
                    }
                    @include respond-to(sm) {
                        width: 515px;
                        padding: 30px 0 0 45px;
                    }
                    @include respond-to(xs) {
                        width: 290px;
                        padding: 30px 0 0 15px;
                    }

                    span {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: $black;
                        @include respond-to(lg) {
                            font-size: 17px;
                            line-height: 25px;
                        }
                        @include respond-to(md) {
                            font-size: 20px;
                            line-height: 30px;
                            display: block;
                        }
                        @include respond-to(xs) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }

                    input {
                        width: 327px;
                        height: 55px;
                        padding: 0 0 0 20px;
                        background-color: #ffffff;
                        border-radius: 32px;
                        color: $grey;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25px;
                        margin-bottom: 20px;
                        @include respond-to(lg) {
                            width: 247px;
                            margin-top: 10px;
                        }
                        @include respond-to(md) {
                            width: 427px;
                            display: block;
                        }
                        @include respond-to(xs) {
                            width: 260px;
                            font-size: 14px;
                            margin-top: 15px;
                        }
                    }

                    textarea {
                        width: 327px;
                        height: 140px;
                        padding: 20px 0 0 20px;
                        background-color: #ffffff;
                        border-radius: 32px;
                        color: $grey;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25px;
                        margin-bottom: 20px;
                        @include respond-to(lg) {
                            width: 247px;
                        }
                        @include respond-to(md) {
                            width: 427px;
                            display: block;
                        }
                        @include respond-to(xs) {
                            width: 260px;
                            font-size: 14px;
                        }
                    }

                    button {
                        width: 327px;
                        height: 55px;
                        border-radius: 32px;
                        background-color: $blue;
                        color: #ffff;
                        cursor: pointer;
                        margin-bottom: 20px;
                        @include respond-to(lg) {
                            width: 247px;
                        }
                        @include respond-to(md) {
                            width: 427px;
                        }
                        @include respond-to(xs) {
                            width: 260px;
                            font-size: 14px;
                        }
                    }

                    p {
                        width: 327px;
                        height: 40px;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 20px;
                        color: $grey;
                        @include respond-to(lg) {
                            width: 277px;
                        }
                        @include respond-to(md) {
                            width: 380px;
                        }
                        @include respond-to(xs) {
                            width: 260px;
                            font-size: 14px;
                        }

                        a {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        @include respond-to(md) {
            position: relative;
        }

        .header_reviews {
            width: 1200px;
            display: flex;
            justify-content: space-between;
            margin-top: 140px;
            @include respond-to(xl) {
                width: 1115px;
            }
            @include respond-to(lg) {
                width: 935px;
            }
            @include respond-to(xs) {
                margin-top: 70px;
            }

            h1 {
                font-size: 52px;
                font-weight: 600;
                color: $black;
                line-height: 55px;
                @include respond-to(xs) {
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            .button {
                display: flex;
                gap: 10px;
                cursor: pointer;
                @include respond-to(md) {
                    position: absolute;
                    bottom: -100px;
                    left: 40%;
                }
                @include respond-to(xs) {
                    position: absolute;
                    bottom: -57px;
                    gap: 15px;
                    left: 35%;
                }

                img {
                    @include respond-to(xs) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .reviews {
            .items {
                display: flex;
                gap: 20px;
                margin-top: 40px;

                .item {
                    width: 590px;
                    height: 355px;
                    background-color: $white-blue;
                    border-radius: 20px;
                    padding: 30px 30px 0 30px;
                    position: relative;
                    @include respond-to(xl) {
                        width: 550px;
                    }
                    @include respond-to(lg) {
                        width: 460px;
                    }
                    @include respond-to(md) {
                        width: 700px;
                    }
                    @include respond-to(sm) {
                        width: 515px;
                    }
                    @include respond-to(xs) {
                        width: 290px;
                        height: 365px;
                    }

                    .marks {
                        position: absolute;
                        right: 35px;
                        top: -5px;
                    }

                    strong {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 30px;
                        color: $black;
                        @include respond-to(xs) {
                            font-size: 16px;
                            line-height: 30px;
                        }
                    }

                    p {
                        width: 520px;
                        height: 150px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25px;
                        color: $black;
                        margin-bottom: 10px;
                        margin-top: 15px;
                        @include respond-to(xl) {
                            width: 490px;
                        }
                        @include respond-to(lg) {
                            font-size: 14px;
                            line-height: 20px;
                            width: 410px;
                        }
                        @include respond-to(md) {
                            width: 640px;
                            font-size: 16px;
                            line-height: 25px;
                        }
                        @include respond-to(sm) {
                            width: 480px;
                        }
                        @include respond-to(xs) {
                            font-size: 14px;
                            line-height: 16px;
                            width: 240px;
                        }
                    }

                    .d_link {
                        margin-bottom: 50px;
                    }

                    a {
                        font-size: 16px;
                        line-height: 25px;
                        color: $blue;
                        display: block;
                        margin-bottom: 20px;
                        text-decoration: none;
                        font-weight: 600;
                        @include respond-to(xs) {
                            font-size: 14px;
                            line-height: 20px;
                            margin-top: 45px;
                            margin-bottom: 10px;
                        }
                    }

                    .vector {
                        margin-bottom: 20px;
                        @include respond-to(xl) {
                            width: 500px;
                        }
                        @include respond-to(lg) {
                            width: 410px;
                        }
                        @include respond-to(md) {
                            width: 640px;
                        }
                        @include respond-to(sm) {
                            width: 460px;
                        }
                        @include respond-to(xs) {
                            width: 240px;
                        }
                    }

                    .date {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25px;
                        color: $date-grey;
                        @include respond-to(xs) {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                .block {
                    @include respond-to(md) {
                        display: none;
                    }
                }

                .modal {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: none;

                    .modal_container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100vh;

                        .modal-content {
                            background-color: $modal-white;
                            padding: 25px 40px;
                            border-radius: 30px;
                            position: relative;
                            width: 812px;
                            height: 375px;
                            @include respond-to(md) {
                                width: 612px;
                                height: 475px;
                            }
                            @include respond-to(sm) {
                                width: 512px;
                                height: 575px;
                            }
                            @include respond-to(xs) {
                                width: 300px;
                                height: 365px;
                                border-radius: 15px;
                                padding: 20px 0 0 20px;
                            }

                            h2 {
                                font-weight: 600;
                                font-size: 20px;
                                color: $black;
                                line-height: 55px;
                                @include respond-to(xs) {
                                    font-size: 16px;
                                    line-height: 30px;
                                }
                            }

                            p {
                                font-weight: 400;
                                font-size: 20px;
                                color: $black;
                                line-height: 25px;
                                @include respond-to(xs) {
                                    font-size: 14px;
                                    line-height: 20px;
                                    width: 240px;
                                }
                            }

                            strong {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 25px;
                                margin-bottom: 20px;
                                @include respond-to(md) {
                                    font-size: 17px;
                                }
                                @include respond-to(xs) {
                                    display: none;
                                }
                            }

                            .date {
                                margin-top: 20px;
                                color: $date-grey;
                                @include respond-to(md) {
                                    margin-top: 40px;
                                    font-size: 18px;
                                }
                                @include respond-to(sm) {
                                    font-size: 18px;
                                }
                                @include respond-to(xs) {
                                    margin-top: 15px;
                                    font-size: 14px;
                                }
                            }
                        }

                        .close {
                            position: absolute;
                            top: 5px;
                            right: 25px;
                            font-size: 44px;
                            cursor: pointer;
                            color: $close-btn;
                            @include respond-to(xxl) {
                                top: 10px;
                                right: 30px;
                            }
                            @include respond-to(xl) {
                                top: 10px;
                                right: 30px;
                            }
                            @include respond-to(lg) {
                                top: 10px;
                                right: 30px;
                            }
                            @include respond-to(md) {
                                top: 10px;
                                right: 25px;
                            }
                            @include respond-to(sm) {
                                top: 5px;
                                right: 25px;
                            }
                            @include respond-to(xs) {
                                top: -60px;
                                right: -1px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}
