.staff {
    overflow: hidden;
    .container{
        @include respond-to(xs){
            padding-bottom: 0;
        }
        .staff_content {
            display: flex;
            gap: 60px;
            @include respond-to(md){
                display: block;
            }

            .left {
                h6 {
                    width: 508px;
                    font-size: 52px;
                    font-weight: 600;
                    color: $black;
                    margin-bottom: 50px;
                    @include respond-to(xs){
                        font-size: 30px;
                        line-height: 30px;
                        width: 280px;
                    }
                }

                .card_staff {
                    width: 488px;
                    height: 150px;
                    background-color: $white-blue;
                    border-radius: 15px;
                    padding: 25px 0 0 30px;
                    @include respond-to(md){
                        transform: translateY(400px);
                    }
                    @include respond-to(sm){
                        width: 280px;
                        height: 160px;
                    }
                    p {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 30px;
                        color: $black;
                        @include respond-to(sm){
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }

                    span {
                        display: block;
                        margin-top: 15px;
                        color: #3838388C;
                        @include respond-to(sm){
                            margin-top: 5px;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    strong {
                        color: $blue;
                    }
                }

                .card_m{
                    @include respond-to(sm){
                        transform: translateY(460px) translateX(-5px);
                    }
                    @include respond-to(xs){
                        transform: translateY(350px) translateX(-5px);
                    }
                }

                .card_i{
                    display: none;
                    @include respond-to(sm){
                        display: block;
                        transform: translateY(300px) translateX(300px);
                    }
                    @include respond-to(xs){
                        transform: translateY(190px) translateX(300px);
                    }
                }

                .button {
                    margin-top: 100px;
                    display: flex;
                    gap: 10px;
                    cursor: pointer;
                    @include respond-to(md){
                        display: none;
                    }
                }
            }

            .right {
                display: flex;
                @include respond-to(xs){
                    height: 270px;
                }
                .people_img {
                    width: 360px;
                    height: 460px;
                    @include respond-to(xxl){
                        width: 300px;
                        height: 400px;
                        transform: translateX(-17%);
                    }
                    @include respond-to(xl){
                        transform: translateX(-15%);
                    }
                    @include respond-to(md){
                        transform: translateY(-200px) translateX(-15px);
                    }
                    @include respond-to(sm){
                        transform: translateY(-300px) translateX(-15px);
                    }
                    @include respond-to(xs){
                        width: 290px;
                        height: 350px;
                        transform: translateY(-350px) translateX(-5px);
                    }

                }
            }
        }
    }
}
